@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .jogo-principal .titulo {
        margin-top: -50px;
    }
    .jogo-principal {
        height: 600px;
    }
    .descricao {
        width: 50%;
    }
}

